/* The following @ are the tailwind classes. Anything below is custom-fit */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary-color: #0b1121;
  --hero-radial: #3a5497;
  --primary-color-2: #101628;
  --primary-color-3: #16203b;
  --primary-color-4: #1e293b;
}

body {
  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

p {
  font-family: "League Spartan", sans-serif;
}

.custom-primary-color {
  background-color: var(--primary-color);
}
.primary-color-2 {
  background: var(--primary-color-2);
}
.primary-color-3 {
  background: var(--primary-color-3);
}
.primary-color-4 {
  background: var(--primary-color-4);
}

.radial-gradient-absolute {
  position: absolute;
  z-index: -1;
  top: 0rem;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(58, 84, 151, 0.75) 0%,
    rgba(58, 84, 151, 0) 100%
  );
}
.radial-gradient-absolute-2 {
  position: absolute;
  z-index: -1;
  top: 0rem;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(43, 43, 124, 0.75) 0%,
    rgba(43, 43, 124, 0) 100%
  );
}
.radial-gradient-height {
  height: 40rem;
}
.radial-gradient-width {
  width: 50rem;
}

.fat-width {
  width: 33rem;
}
.fat-width-2 {
  width: 36rem;
}

.padding-tiny {
  padding: 0.1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
