/* The following @ are the tailwind classes. Anything below is custom-fit */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --primary-color: #0b1121;
  --hero-radial: #3a5497;
  --primary-color-2: #101628;
  --primary-color-3: #16203b;
  --primary-color-4: #1e293b;
  --primary-color-5: #11192f;
  --primary-color-6: #3a5497b8;
}

body {
  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

p {
  font-family: "League Spartan", sans-serif;
}

.custom-primary-color {
  background-color: var(--primary-color);
}
.primary-color-2 {
  background: var(--primary-color-2);
}
.primary-color-3 {
  background: var(--primary-color-3);
}
.primary-color-4 {
  background: var(--primary-color-4);
}
.primary-color-5 {
  background: var(--primary-color-5);
}
.primary-color-6 {
  background: var(--primary-color-6);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appear {
  animation: appear 0.25s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideInAppear {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideInAppear {
  animation: slideInAppear 0.75s ease-in-out forwards;
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.slideInRight {
  animation: slideInRight 0.5s ease-in-out forwards;
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slideOutRight {
  animation: slideOutRight 0.5s ease-in-out forwards;
}
@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(35%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.appearFromBottom {
  animation: appearFromBottom 750ms linear forwards;
}

.radial-gradient-absolute {
  position: absolute;
  z-index: -1;
  top: 0rem;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(58, 84, 151, 0.75) 0%,
    rgba(58, 84, 151, 0) 100%
  );
}
.radial-gradient-absolute-2 {
  position: absolute;
  z-index: -1;
  top: 0rem;

  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(43, 43, 124, 0.75) 0%,
    rgba(43, 43, 124, 0) 100%
  );
}
.radial-gradient-height {
  height: 40rem;
}
.radial-gradient-width {
  width: 50rem;
}

.fat-width {
  width: 33rem;
}
.fat-width-2 {
  width: 36rem;
}

.padding-tiny {
  padding: 0.1rem;
}

.level-height {
  height: 32rem;
}
.level-radial-gradient-background-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(58, 84, 151, 0.75) 0%,
    rgba(58, 84, 151, 0) 100%
  );
}
.level-radial-gradient-background-orange {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f56116 0%,
    rgba(245, 97, 22, 0) 100%
  );
}

.rotate-80 {
  transform: rotate(80deg);
}
.-rotate-80 {
  transform: rotate(-80deg);
}
.rotate-8 {
  transform: rotate(8deg);
}
.-rotate-8 {
  transform: rotate(-8deg);
}
.left-128 {
  left: 26rem;
}
.left-144 {
  left: 30rem;
}
.left-156 {
  left: 32rem;
}
.left-169 {
  left: 34rem;
}
.left-172 {
  left: 38rem;
}
.left-181 {
  left: 40rem;
}
.right-85 {
  right: 23rem;
}
.right-144 {
  right: 29rem;
}
.bottom-18 {
  bottom: 4.5rem;
}

.docs-width {
  width: 47.4rem;
}

/* @media (min-width: 1280px) and (max-width: 1335px) {
  .fat-width-2 {
    width: 30rem;
  }

  .chinese-menu {
    gap: 0.5rem;
  }
  .chinese-menu p {
    font-size: 0.95rem;
  }
  .chinese-menu h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .chinese-menu h2 {
    font-size: 1.1rem;
  }

  .blockage-square-1 {
    left: 6rem;
  }
}
@media (min-width: 1336px) {
  .blockage-square-2 {
    right: 3rem;
  }
}
@media (min-width: 1440px) {
  .blockage-square-2 {
    right: 7rem;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
