/* The following @ are the tailwind classes. Anything below is custom-fit */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --primary-color: #0b1121;
  --hero-radial: #3a5497;
  --primary-color-2: #101628;
  --primary-color-3: #16203b;
  --primary-color-4: #1e293b;
  --primary-color-5: #11192f;
  --primary-color-6: #3a5497b8;
}

body {
  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

p {
  font-family: "League Spartan", sans-serif;
}

@layer utilities {
  .custom-primary-color {
    background-color: var(--primary-color);
  }
  .primary-color-2 {
    background: var(--primary-color-2);
  }
  .primary-color-3 {
    background: var(--primary-color-3);
  }
  .primary-color-4 {
    background: var(--primary-color-4);
  }
  .primary-color-5 {
    background: var(--primary-color-5);
  }
  .primary-color-6 {
    background: var(--primary-color-6);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.appear {
  animation: appear 0.25s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.slideIn {
  animation: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideInAppear {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideInAppear {
  animation: slideInAppear 0.75s ease-in-out forwards;
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slideOut {
  animation: slideOut 0.5s ease-in-out forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.slideInRight {
  animation: slideInRight 0.5s ease-in-out forwards;
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.slideOutRight {
  animation: slideOutRight 0.5s ease-in-out forwards;
}
@keyframes appearFromBottom {
  from {
    opacity: 0;
    transform: translateY(35%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.appearFromBottom {
  animation: appearFromBottom 750ms linear forwards;
}

@layer utilities {
  .radial-gradient-absolute {
    position: absolute;
    z-index: -1;
    top: 0rem;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(58, 84, 151, 0.75) 0%,
      rgba(58, 84, 151, 0) 100%
    );
  }
  .radial-gradient-absolute-2 {
    position: absolute;
    z-index: -1;
    top: 0rem;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(43, 43, 124, 0.75) 0%,
      rgba(43, 43, 124, 0) 100%
    );
  }
  .radial-gradient-height {
    height: 40rem;
  }
  .radial-gradient-width {
    width: 40rem;
  }
}

@layer utilities {
  .w-121 {
    width: 30rem;
  }
}

@layer utilities {
  .fat-width {
    width: 33rem;
  }
  .fat-width-1 {
    width: 30rem;
  }
  .fat-width-2 {
    width: 36rem;
  }
  .text-4-5xl {
    font-size: 2.5rem;
  }

  .padding-tiny {
    padding: 0.1rem;
  }

  .rotate-80 {
    transform: rotate(80deg);
  }
  .-rotate-80 {
    transform: rotate(-80deg);
  }
  .rotate-8 {
    transform: rotate(8deg);
  }
  .-rotate-8 {
    transform: rotate(-8deg);
  }
  .left-100 {
    left: 25rem;
  }
  .left-128 {
    left: 26rem;
  }
  .left-144 {
    left: 30rem;
  }
  .left-156 {
    left: 32rem;
  }
  .left-169 {
    left: 34rem;
  }
  .left-172 {
    left: 38rem;
  }
  .left-181 {
    left: 40rem;
  }
  .right-85 {
    right: 23rem;
  }
  .right-136 {
    right: 28rem;
  }
  .right-144 {
    right: 29rem;
  }
  .bottom-18 {
    bottom: 4.5rem;
  }
  .bottom-21 {
    bottom: 5.25rem;
  }
  .bottom-22 {
    bottom: 5.5rem;
  }

  .min-h-90 {
    min-height: 23rem;
  }
  .h-90 {
    height: 23rem;
  }

  .min-h-100 {
    min-height: 26rem;
  }
  .h-100 {
    height: 26rem;
  }

  .min-h-128 {
    min-height: 30rem;
  }
  .h-128 {
    height: 30rem;
  }

  .min-h-144 {
    min-height: 36rem;
  }
  .h-144 {
    height: 36rem;
  }

  .docs-width-xl {
    width: 39.5rem;
  }
  .docs-width-2xl {
    width: 44.5rem;
  }
  .docs-width-3xl {
    width: 47.4rem;
  }

  .docs-height-sm {
    height: 23rem;
  }

  .docs-height-lg {
    height: 18rem;
  }
}

@layer utilities {
  .level-height {
    height: 32rem;
  }
  .level-radial-gradient-background-blue {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(58, 84, 151, 0.75) 0%,
      rgba(58, 84, 151, 0) 100%
    );
  }
  .level-radial-gradient-background-orange {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f56116 0%,
      rgba(245, 97, 22, 0) 100%
    );
  }
}

@layer utilities {
  .h-18 {
    height: 3.75rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .leading-moderate-loose {
    line-height: 3rem;
  }
  .leading-very-loose {
    line-height: 4rem;
  }
}

.cm-focused {
  outline: none !important;
}
/* .cm-theme,
.cm-editor,
.cm-scroller {
  max-height: 100% !important;
} */
